.container {
    text-align: center;
}

#div-segunda-etapa {
    display: none;
}

#div-segunda-etapa .row {
    padding: 10px;
}

#div-segunda-etapa .btn-titulo {
    margin-bottom: 10px;
}

#div-segunda-etapa .row .form-group {
    margin: 10px;
}

footer {
    text-align: center;
}